<br/>


 <p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Marcelo
Soares Souza</span></font></font></strong></p>
<p align="center" style="margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Brasília,
Distrito Federal, </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Brasil</span></span></font></font></strong></p>
<p align="center" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Formação:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Bacharel
em Informática pela </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Universidade
Católica do Salvador</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(UCSal)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Data
de Nascimento:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
22 de Setembro de 1981 (Salvador, Bahia)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">E-mail:
</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">marcel at riseup . net</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">ou
</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">marcelo at libertais . org</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Lattes:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">http://lattes.cnpq.br/8094849790426073</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">GitHub:
</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">https://github.com/marcelo</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">-</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">soares</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">-</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">souza</span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">GitLab:</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
https://gitlab.com/users/marcelo-soares-souza/projects</span></font></font></strong></p>
</ul>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Associado
</span></font></font></strong>
</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Institute
of Electrical and Electronics Engineers</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(IEEE) - </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">No.:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
80307464 (2005-2014)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Association
for Computing Machinery</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(ACM) - </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">No.:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
2412773 (2004 - 2013)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Sociedade
Brasileira de Computação</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(SBC) - </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">No.:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">13621
</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(2003-2013)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Free
Software Foundation Associate Member</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(FSF) - </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">No.:
</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">10435</font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(2012-2015)</span></span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Electronic
Frontier Foundation</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(EFF) (2012-2014)</span></span></font></font></p>
</ul>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="3" style="font-size: 12pt"><span style="text-decoration: none">Histórico
Profissional 1995.2 – 201</span></font></font></strong><strong><font color="#000000"><font size="3" style="font-size: 12pt"><span style="text-decoration: none">7</span></font></font></strong><strong><font color="#000000"><font size="3" style="font-size: 12pt"><span style="text-decoration: none">.1</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><b>EM</b></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><b>BRAPA
Agroenergia</b></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Março</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
2016 </span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">-
Atual</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Atuando
como Consultor em Tecnologia no Laboratório de Bioinformática em
Bioenergia. Realizando atividades de desenvolvimento de Ferramentas e
Plataforma Web de apoio a atividades de Bioinformática em Python
(Django), Ruby (On Rails), Shell Script, C/C++ e Analista de
Infraestrutura Sênior em Plataformas GNU/Linux. </font></font>
</p>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><b>Hex
Tecnologias Geoespaciais</b></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(Setembro
2015 – </span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Fevereiro
2016</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
de Infraestrutura Sênior em Plataformas GNU/Linux atuando em
Planejamento, Implantação e Manutenção de Infraestrutura,
incluindo desenvolvimento de Ferramentas e Aplicativos de apoio a
atividades em Shell Script, Ruby (On Rails), Python (Django) e PHP
além de Administração de Banco de Dados em PostgreSQL.</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Empresa
Brasileira de Pesquisa Agropecuária (EMBRAPA) Agroenergia </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(Maio
2015 - Setembro 2015)</span></span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Bolsita
DTI-C CNPq no Laboratório de Bioinformática em Bioenergia (LBB).
Desenvolvimento de Ferramenta de Gerenciamento de Projetos em
<b>Django/Python</b> e de Scripts em Shell Script e Ruby para
Atividades de Bioinformática.</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Centro
de Sensoriamento Remoto / IBAMA</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><b>
/ </b></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Hex
Tecnologias Geoespaciais</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><b>
</b></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(Agosto
2013 - Março 2015)</span></span></font></font></strong></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Analista
de Infraestrutura </span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">GIS</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
Pleno / DBA Pleno (PostgreSQL/PostGIS). </span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Planejamento,
Implantação e Manutenção de Banco de Dados e de Ferramentas e
Aplicativos de apoio em Ruby, Shell Script, Python e outros.</span></font></font></p>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Instituto
de Pesquisa Eldorado</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Junho 2013 - Agosto 2013)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
de Sistema Pleno / Desenvolvedor Pleno Qt e <b>C/C++</b> para
Dispositivos Embarcados. Desenvolvimento de Home Media Center em
C/C++ em plataforma GNU/Linux.</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Organização
Não Governamental Artéria Cultura e Cidadania</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Janeiro 2013 - Jul 2013)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Desenvolvimento
de Sistemas Web em <b>Ruby on Rails</b></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Produto(s):</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt">Mapa
da Cultura</font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">(http://mapadacultura.org</span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font></strong></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">SEBRAE</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
Nacional / </span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">+2x
Tecnologia em dobro</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Fevereiro 2012 - Junho 2013)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Analista
de Suporte Sênior em Ambiente GNU/Linux e FreeBSD no </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">SEBRAE</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Nacional</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">4Linux
- Free Software Solutions</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Outubro de 2010 - Fevereiro 2012)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Consultor
e Desenvolvedor em Tecnologias Livre atuando em contrato na Caixa
Econômica Federal em Brasília. Atuando na migração para o
Expresso Livre. Desenvolvimento em Ruby (on Rails), Shell Script e
PHP.</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Serviço
Nacional de Aprendizagem Industrial (SENAI-BA) </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Período(s):
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Agosto
a Setembro de 2010 - 80 horas ; Agosto a Setembro de 2008 - 80 horas
; Abril a Maio de 2008 - 80 horas </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Docente
Certificação Linux LPIC 101</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Secretária
de Educação da Bahia (SEC BA) através da Avansys Ltda.</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Novembro de 2009 a Julho de 2010)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
e Desenvolvedor de Sistema Pleno para Desenvolvimento de Sistema de
Educação a Distância em Plataformas Livres (<b>PHP, XMLNuke, MySQL
e etc.</b>)</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Produto(s):</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Sistema Web Educacional Panteon Escolar (</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">http://panteonescolar.org</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Pontão
de Cultura Digital da Bahia juntaDados </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Novembro
de 2008 a Novembro de 2009)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Coordenador
de Desenvolvimento e Desenvolvedor</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Alguns
Produto(s):</span></span></font></font></strong></p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Plataforma
de Conteúdo Audiovisual juntaDados (</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">https://juntadados.org</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
</span></font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Distribuição
GNU/Linux juntaDadados para produção Audiovisual</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
</span></font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Agregador
de Conteúdo Rejunte (</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">http://rejunte.org</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">)</span></span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
</span></font></font>
</p>
<li/>
<p align="justify" style="text-decoration: none"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Servidor
de Plataforamas, Sites e Portais de Cultura e Inclusão Digital
Nucky</span> </font></font>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">GESAC
- Ministério das Comunicações (MC) </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Abril
de 2008 a Abril de 2009)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Implementador
Social e Técnico em Tecnologias Livres</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Projeto
de Inclusão Digital Casa Brasil </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Setembro
de 2006 a Abril de 2008)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Coordenador
Técnico de Infra-Estrutura e Oficineiro nos estados da Bahia e
Sergipe</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Serviço
Nacional de Aprendizagem Industrial (SENAI). </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Período(s):</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Maio/2006 - Carga horária: 104 horas e Novembro/2006 - Carga
horária: 104 horas </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Docente
do Programa Oficial de Certificação Mandriva.</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Colégio
Nobel</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Março de 2005 a Dezembro de 2005)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
de Sistema e Desenvolvedor Jr. usando Plataformas Livres (PHP e
MySQL)</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Produto:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Portal Colégio Nobel (2005)</span></span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">EDZA
- Planejamento e Consult. em Informática </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Março
de 2004 a Março de 2005)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
de Sistema Jr. atuando com Plataformas J2EE</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Faculdades
UNYAHNA </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Novembro
de 2001 a Fevereiro de 2002)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Desenvolvedor
Web atuando com Plataformas Livres (PHP e MySQL)</font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Produto:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Portal Faculdades UNYAHNA (2002)</span></span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Rede
Metropolitana de Alta Velocidade (REMAV) </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Setembro
de 2000 a Julho de 2001)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Pesquisador
e Desenvolvedor de Estudos em computação Paralela (Clusters
Beowulf)</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Provedor
de Acesso e Serviços a Internet STN</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
(Setembro de 1997 a Agosto de 2000)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Administrador
de Redes e Desenvolvedor para Web</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Softech
Tecnologia em Informática LTDA. </span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Fevereiro
de 1995 a Setembro de 1997)</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Analista
de Suporte Jr. em Infraestrutura de Redes</font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Artigos
Científicos Publicados</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
</span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">(Autoria
e Co-Autoria)</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Detecção
de alterações recentes na cobertura vegetal natural da Amazônia
Legal por meio de imagens Landsat- 8: proposta metodológica</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
</span></font></font>
</p>
<p><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Autores:</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
George Ferreira, Alana Toniol, Pedro Cruz, Edson Sano, Daniel
Freitas, Marcelo Aguiar, Camila Lopes, Lidiane Vilela, Marcelo
</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Soares
</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Souza</span></font></font></p>
<p><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">In:</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
XVII Simpósio Brasileiro de Sensoriamento Remoto (SBSR). João
Pessoa, (PB), 2015.</span></font></font></p>
</ul>
<ul>
<p align="justify" style="margin-bottom: 0cm"></p>
</ul>
<ul>
<li/>
<p><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">NeoFW
- Um Framework para criação de aplicaçoes em ambientes de
Clusters baseado em Software Livre. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza , Edmilson Santana Souza de Almeida , M.Sc.
André Chagas de Miranda Rebouças , PhD Josemar Rodrigues de Souza
(UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Congresso Catarinense de Software Livre (SOLISC) . Florianópolis
(SC), 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Tolerância
a Falhas em Clusters Geograficamente Distribuídos Baseados em Troca
de Mensagens. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza , Anderson Boa Morte , Marco Yudi Hirata , PhD
Josemar Rodrigues de Souza (UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">VIII
Semana de Mobilização Científica (SEMOC). Salvador, BA. UCSAl,
2005. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">LibComuna
- Um Framework para o Desenvolvimento de Aplicações Paralelas
Tolerante a Falhas baseado em Troca de Mensagens. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza , Anderson Boa Morte , Marco Yudi Hirata , Saulo
Andrade , PhD Josemar Rodrigues de Souza (UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Workshop de Computação Paralela Bahia-Sergipe. Salvador, BA.
UNIFacs, 2005 - BaSe-Par2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">The
behavior of Large-scale Distributed VoD utilizing the VODSim </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
PhD Leandro Coelho Souza (UAB, Barcelona, Spain) , Marcelo Soares
Souza , Saulo Andrade , M.Sc. Christianne Orrico Dalforno (UAB,
Barcelona, Spain) , PhD Fernando Cores (UAB, Barcelona, Spain) , PhD
Ana Ripoll (UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Workshop de Computação Paralela Bahia-Sergipe. Salvador, BA.
UNIFacs, 2005 - BaSe-Par2005. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Software
Livre e Educação: Uma Proposta de democratização do acesso ao
conhecimento. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Marcelo
Soares Souza , M.Sc. Arnaldo Bispo de Jesus , M.Sc. Christianne
Orrico Dalforno (UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">VII
Semana de Mobilização Científicas (SEMOC). Salvador, BA. UCSal,
2004. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong>Análise
do Servidor Web Apache em Clusters OpenMosix com Memória
Compartilhada Distribuída </strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Workshop
I Workcomp - Sul. UNISul, 2004, Florianópolis (SC). </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Influência
da comunicação no rendimento de uma renderização de imagem
utilizando uma máuina paralela virtual baseada em redes ATM e
Ethernet. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza , PhD Josemar Rodrigues de Souza (UAB,
Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">VI
Semana de Mobilização Cientifica (SEMOC). Salvador, BA. UCSal,
2003. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Influência
da comunicação no rendimento de uma máquina paralela virtual
baseada em Redes ATM. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autores:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza , M.Sc. Milena Micheli (REMAV-BA/UFBa) , PhD
Josemar Rodrigues de Souza (UAB, Barcelona, Spain) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Workshop RNP2 e MetroPOA (Rede Nacional de Pesquisa) . PUC-RS, Porto
Alegre, RS, 2000. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Outras
Publicações / Trabalhos</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Software
Livre em xeque no Paraná</span></font></font></strong></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Autor:</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
Marcelo Soares Souza</span></font></font></p>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">In:</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
Revista Espirito Livre, #50, Maio 2013, </span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">ISSN
No 2236031X</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">.</span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Implementação
de Modelo Científico de Tolerância a Falhas em Clusters </span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">libAgo</font></font></strong></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instituição:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">CAOS
/ Universidade Autónoma de Barcelona (UAB) (Dezembro de 2005 -
Fervereiro de 2006)</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Desenvolvimento
em:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
C, Sockets, Threads, MPI1 e MPICH. Auxilio Técnico a Tese de
Doutoramento do Prof. Josemar Rodrigues de Souza </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Software
Livre e a Liberdade do Conhecimento </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autor:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Jornal
de Informática D.A. InfoUCSal. UCSal, Salvador, 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Centro
Baiano de Computação de Alto Desempenho - Histórico e
Perspectivas Futuras </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Autor:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Marcelo Soares Souza </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Jornal
de Informática D.A. InfoUCSal - UCSal, Salvador, 2005.1 </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestras,
Mesas Redonda, Mini Cursos, Oficinas e outros Proferidos</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Case
Study of Brazilian Institute of Environment and Renewable Natural
Resources with FOSS GIS</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">In:
</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">FOSS4G
2014</font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">.
Portland, Oregon, EUA. Setembro de 2014.</span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Debian
GNU/Linux no CSR/IBAMA</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">In:
</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Debian
Day DF 2014 - Taguatinga, Distrito Federal. Agosto de 2014.</span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Preservando
os Biomas Brasileiros com Software Livre - Estudo de Caso CSR/IBAMA</span></font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Cultura
Digital não é Cultura do Digital - Resgatando a Cultura Brasileira
com Software Livre.</span></font></font></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Festival
Latino Americano de Instalação de Software Livre do Distrito
Federal (</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">FLISOL-DF</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">).
Brasília, DF, </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Abril
de 2014</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">.</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">Mapa
da Cultura - Mapeando a Cultura Brasileira com Software Livre </font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.06cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">In:</span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">
14o Fórum Internacional Software Livre (FISL). Porto Alegre, RS,
Julho de 2013.</span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Redes Sociais Livres e Federadas</span></font></font></strong></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Festival
Latino Americano de Instalação de Software Livre do Distrito
Federal (</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">FLISOL-DF</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">).
Brasília, DF, </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Abril
de 2013</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">.</span></span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Oficina:
Redes Sociais Livres - Noosfero, Diaspora* e Friendica</span></font></font></strong></p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">11ª
Oficina para Inclusão Digital e Participação Social. Porto Alegre,
RS, Novembro de 2012.</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
</span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">Rejunte
um middleware para agregação e redistribuição de acervos
culturais Web 2.0 </font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">IV
Encontro Nordestino de Software Livre. Natal, RN, Nov. de 2010. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Flisol-DF
2011. Brasília, DF, Abril de 2011</span></span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Gênero e Tecnologia </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">III
Encontro Nordestino de Software Livre (ENSL) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">IV
Festival de Software Livre . Salvador, BA, Maio de 2009.</span></span></font></font></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Oficina/Palestra:
Metareciclagem como Ferramenta/Metodologia de Inclusão Sociodigital
</span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">8a
Escola Regional de Computação dos Estados da Bahia, Alagoas e
Sergipe (ERBASE) </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">II
WIND-BASE - Salvador, BA, Abril de 2008. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mesa
Redonda: Encontro Comunitário Casa Brasil. </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">8o
Fórum Internacional de Software Livre (fisl). Porto Alegre, RS 2007.
</span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Software e Cultura Livre </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Encontro Regional Casa Brasil - Bahia - Março de 2007, Salvador, BA.</span></span></font></font></p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Computação de Alta Performance com Software Livre </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Seminário de Tecnologia da Informação UCSal . Salvador, BA 2006. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Congresso Catarinense de Software Livre (SOLISC) . Florianópolis, SC
2005. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">4o
Workshop de Software Livre de Mato Grosso. Cuiabá, MT 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Ferramentas e Soluções em Software Livre (Produtividade / Lazer /
Educação) </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Congresso Catarinense de Software Livre (SOLISC) . Florianópolis, SC
2005. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Fórum Baiano de Software Livre. Salvador, BA 2004 </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Ciclo de Palestras de Software Livre. Salvador, BA 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Software Livre: Ou como aprendi a Amar e não temer o Bill </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Festival de Software Livre. Salvador, BA 2006. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mesa
Redonda: Perspectivas para Software Livre no Brasil </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Desenvolvimento Web com PHP </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Seminário de Software Livre da UNIME (Faculdades UNIME). Lauro de
Freitas, BA 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mesa
Redonda: Perspectivas Profissionais com Software Livre </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Ferramentas e Soluções em Software Livres </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">2o
Seminário de Software Livre da UNIME (Faculdades UNIME). Lauro de
Freitas, BA 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Dá para viver de Software Livre: Realidade e Perspectivas sobre
Mercado e Software Livre </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Departamento
de Ciências da Computação (DCC) UFBa . Salvador, BA 2005. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mini
Curso: </span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">Introdução
a Computação de Alto Performance e a Construção de Clusters </font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">XXII
ENECOMP - Encontro Nacional de Estudantes de Computação . Salvador,
BA, UCSal/UFBa, 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mini
Curso: Introdução ao Sistema Operacional GNU/Linux </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">IV
ERBASE - Escola Regional Bahia-Sergipe (na UEFS). Feira de Santana,
BA 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Modelos de Negócio com Software Livre e Open Source </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Ciclo de Palestras Empresa Jr. Tech Jr UCSal. Salvador, BA 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mesa
Redonda: Histórico, consolidação e perspectivas do Software Livre
na Bahia </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Forum Baiano de Software Livre . Salvador, BA 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">I
Ciclo de Palestras de Software Livre da UCSal . Salvador, BA 2004. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mini
Curso: Programação Paralela </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Introdução ao Software Livre </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">II
EBECOMP - Encontro Baiano de Estudantes de Computação (UESC).
Ilhéus, BA 2003. </span></span></font></font>
</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm; text-decoration: none">
<br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Introdução ao Software Livre </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Calourada
Livre DCC/IM UFBa . Salvador, BA 2004.2. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Introdução ao Software Livre </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Soluções em Software Livre para Uso Geral </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Palestra:
Soluções em Software Livre para Desenvolvimento </span></font></font></strong>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mesa
Redonda: Software Livre no Brasil </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">1o
Install Fest da Bahia - UCSal. Salvador, BA 2003. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Mini
Curso: Introdução ao GNU/Linux e a Soluções Livres </span></font></font></strong>
</p>
</ul>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">In:
</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">3o
Semana de Informatica UCSal . Salvador, BA 2003. </span></span></font></font>
</p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Outros
Trabalhos/Ações e Atividades Voluntárias</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="justify" style="margin-left: 1.25cm; margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Pesquisador
Voluntário</span></font></font></strong></p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instituição:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Núcleo de Arquitetura e Sistemas Operacionais (NACSO) UNEB </span></span></font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instituição:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Centro Baiano de Computação de Alto Desempenho (CEBACAD) </span></span></font></font>
</p>
</ul>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Tradução
de Ferramentas Livres:</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
Quantum GIS (QGIS), GrapHopper, EDX-Plataform, Editor de Vídeo Não
Linear Kdenlive, gcc, pkgconf, xine-lib, f-spot e outras através do
Transiflex e/ou diretamente. </span></span></font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Mantenedor
dos nós das </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Redes
Sociais Livres</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
</span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Friendica
Ambiente Digital</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
e </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Diaspora*
juntaDados</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Apoio
Técnico a manutenção do Servidor Nucky de Projetos e Ações de
Cultura e Inclusão Digital</font></font></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Empacotamento
do </span></span></font></font></strong><strong><font color="#000000"><font size="2" style="font-size: 10pt">MPICH</font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">
(implementação multi-plataforma do padrão de troca de mensagens
MPI) para </span></span></font></font><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Slackware,
Debian e Ubuntu</span></span></font></font></strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">.</span></span></font></font></p>
</ul>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Organização
e/ou Apoio Técnico em Eventos</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">Teia
2008 . Novembro, 2008, Brasília, DF. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">7a
Oficina de Inclusão Digital . Outubro, 2008, Belém, PA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">6a
Oficina de Inclusão Digital . Novembro, 2007, Salvador, BA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">8o
Fórum Internacional Software Livre (fisl). Porto Alegre, 2007. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">1o
Encontro de Cultura Colaborativa. Julho, 2007, Salvador, BA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">I
Encontro Regional Casa Brasil . Março, 2007, Salvador, BA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">III
Festival Software Livre da Bahia. Agosto, 2006, Salvador, BA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">I Ciclo
de Palestras Software Livre e Educação. 2004, Salvador, BA. </font></font>
</p>
<li/>
<p align="justify" style="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<font color="#000000"><font size="2" style="font-size: 10pt">I Linux
Install Fest da Bahia. Novembro, 2003, Salvador, BA. </font></font>
</p>
</ul>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<p align="center" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none">Artigos
Publicados no Viva o Linux</span></font></font></strong></p>
<p align="justify" style="margin-bottom: 0cm; text-decoration: none"><br/>

</p>
<ul>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Diaspora*
no Debian Wheezy - Rede social livre e distribuída</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Mapa
da Cultura no Debian 7.0 - Instalação com Nginx usando Phusion
Passenger</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instalando
Friendica no Debian 7.0 Wheezy - Rede social livre e distribuída</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instalando
o Noosfero no Debian 7.0 (Wheezy) com Nginx e Phushion Passenger</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Phusion
Passenger 4.0 no Nginx - Instalando e testando no Debian Wheezy</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Servidor
web nginx com PHP-FPM e memcached</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">OpenLDAP:
Instalando um servidor de diretórios com replicação (SyncRepl)</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Instalando
gerenciador de projetos Redmine usando o PostgreSQL sobre o nginx</span></span></font></font></strong></p>
<li/>
<p align="justify" style="margin-bottom: 0cm"><strong><font color="#000000"><font size="2" style="font-size: 10pt"><span style="text-decoration: none"><span style="font-weight: normal">Controle
de versão usando Git integrado ao Redmine</span></span></font></font></strong></p>
</ul>
